
.side-panel{
  position: relative;
}
#buttonPrizes{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.buttonPrize{
  height: 100%;
  width: 100%;
  text-align: center;
  /* font-size: 4rem !important;
  font-weight: bold !important; */
}
.button-container{
  height: 10vh;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnStartStop{
  height: 8vh;
  margin: 2vw;
  width: 10vw;
  /* font-size: 4rem !important;
  font-weight: bold !important;*/
}

body{
  position: relative;
  height: 100%;
  background-image: url(https://i.pinimg.com/236x/6d/69/2f/6d692f373f40e5d7b75b107faa6972e5.jpg);
}

@keyframes scrolling {
    0% { transform: translateY(0); }
    100% { transform: translateY(100%); }
}

.participant-container{
  position: relative;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.participantDiv{
  margin: 0.2%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  text-align: center;
  width: 7vw;
  height: 9vh;
  font-weight: bold;
  font-size: 100%;
}

.participantActive{
  background-color: aqua;
  color: red;
}
.participantInactive{
  background-color: gray;
  color: black;
}